/* CSS declarations go here */
$lightgrey: #6e6e6e;
$darkgrey: #333;

.box {
	box-shadow: 5px 5px 10px 1px #d3d3d3;
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin: 5px;
	img {
		height: 200px;
	}
}

header {
	width: 100%;
	border-bottom: 2px solid $lightgrey;
	padding: 25px 0;
	position: relative;

	h1 {
		float: left;
		color: #000;
		font-size: 82px;
		margin: 0 20px 0 0;
	}
	.main-nav {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0;
		li {
			float: left;
			margin-right: 10px;
		}
	}
}
.content {
	padding: 40px 0;
}
.loading {
	margin: 100px auto 0 auto;
}
.more-link {
	display: block;
	text-align: center;
	font-size: 32px;
	text-decoration: none;
}
.entrybar {

	padding: 20px 0;
	background: $darkgrey;
	h4, form {
		float: left;
	}
	h4 {
		color: #FFF;
		font-size: 30px;
		margin-right: 20px;
	}
	input, select {
		float: left;

		&#videourl, &#linkurl {
			display: none;
		}
	}

	#submitBox {
		input {
			margin-left: 10px;
		}
		select {
			width: 100px;
		}
	}
}

footer.container {
	padding: 20px 0;
	ul {
		float: right;
	}
}

.welcome-page {
	.wrapper {
		h1 {
			margin: 0;
		}
		width: 600px;
		margin: 0 auto;
		text-align: center;
	}
	.welcome-form {
		display: inline-block;
		padding: 20px;
		input {
			border: 2px solid $lightgrey;
			margin-bottom: 10px;
		}
	}
}

.create-room {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	h2 {
		margin-bottom: 0;
	}
	form {
		padding: 20px;
		display: inline-block;
		margin: 0 auto;
	}
	input {
		border: 2px solid $lightgrey;
		margin-bottom: 10px;
	}
	.passwordForm {
		display: none;
	}
}