<head>
  <title>Boxy</title>
  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans|Quattrocento+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<header>
		<div class="container clearfix">
			<a href="/"><h1>Boxy</h1></a>
			<ul class="main-nav">
				<li><a href="/rooms">View Rooms</a></li>
				<li><a href="/create">Create Room</a></li>
				<li><a href="/signout">Sign out</a></li>
			</ul>
		</div>
	</header>
	{{#isolate}}
		{{renderPage}}
	{{/isolate}}
	<footer class="container">
		<ul>
			<li>&copy; Ian Mathews, 2013</li>
		<ul>
	</footer>
</body>