<template name="login">
	<div class="welcome-page container">
		<div class="wrapper">
			<h1>Welcome to Boxy</h1>
			<h2>Boxy is a fast and easy way to share your favorite media to all your friends in real time!</h2>
			<div class="welcome-form">
				<div class="login-container">
					<form id="login-form" action="action">
					<h1>Please Sign In</h1>
				      <div>
				        <input type="email" id="login-email" placeholder="Enter Email"/>
				        <input type="password" id="login-password" placeholder="Enter Password"/>
				        <input type="submit" id="login-button" value="Sign in" />
				     </div>
				     <a id="newAccount-button" href="register">Don't have an account?</a>
				   </form>
				</div>
			</div>
		</div>
	</div>
</template>