<template name="login">
	<div class="content">
		<div class="welcome-page container">
			<div class="wrapper">
				<h1>Welcome to Boxy</h1>
				<div class="welcome-form">
					<div class="login-container">
						<form id="login-form" action="action">
						<h2>Please Sign In</h2>
					      <div>
					        <input type="email" id="login-email" placeholder="Enter Email"/>
					        <input type="password" id="login-password" placeholder="Enter Password"/>
					        <input type="submit" id="login-button" value="Sign in" />
					     </div>
					     <a id="newAccount-button" href="register">Don't have an account?</a>
					   </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>