<template name="register">
  <div class="welcome-page container">
    <div class="wrapper">
      <h1>Welcome to Boxy</h1>
      <h2>Boxy is a fast and easy way to share your favorite media to all your friends in real time!</h2>
      <div class="welcome-form">
      	<form id="register-form" action="action">
      	<h1>Create an Account</h1>
              <input type="text" id="account-username" placeholder="Username"/>
             <input type="email" id="account-email" placeholder="Email"/>
             <input type="password" id="account-password" placeholder="Password"/>
             <input type="submit" id="create-account" value="Create an Account" />
             <a id="switch-to-login-button" href="login">I have an account already</p>
         </form>
      </div>
    </div>
  </div>
</template>
