<template name="register">
  <div class="content">
    <div class="welcome-page container">
      <div class="wrapper">
        <h1>Welcome to Boxy</h1>      
        <div class="welcome-form">
        	<form id="register-form" action="action">
          	<h2>Create an Account</h2>
            <div>
              <input type="text" id="account-username" placeholder="Username"/>
              <input type="email" id="account-email" placeholder="Email"/>
              <input type="password" id="account-password" placeholder="Password"/>
              <input type="submit" id="create-account" value="Create an Account" />
            </div>
            <a id="switch-to-login-button" href="login">I have an account already</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
